body,
html {
    border: none;
    margin: 0;
}

header,
footer {
    background-color: rgb(70, 130, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0;
}

h1 {
    color: white;
    font-size: 25px;
}

main {
    background-color: rgb(176, 196, 222);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftBlock {
    background-color: rgb(70, 130, 180);
    color: white;
    height: 300px;
    width: 80%;
    float: left;
}

#rightBlock {
    background-color: rgb(70, 130, 180);
    margin: 0px;
    color: white;
    height: 300px;
    width: 20%;
    float: right;
}

#mainImg {
    padding: 3px;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
}

#imgs {
    height: 40%;
    width: 300px;
    height: 200px;
}

#imgs:hover {
    border: 1px solid white;
}